.divButton{
    margin-top: 5%;
    padding: 20px 10px 20px 10px;
    border-radius: 4px;
    background-color: #1932a1;
    color: #fff;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  