button {    
    align-self:center;
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 1em;
    background-color: #0070d2;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #fff;
    font-size: small;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}
button:hover {
    background-color: #005fb2;  
    border-color: #005fb2;
} 

