html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #1a144a;
    background-image: linear-gradient(90deg, #1a144a 4%, #190e0c 100%);
}
.accordion {
    background-color: #eee;
    color: #444;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    min-width: 92%;
    max-width: 92%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 2px 2px 2px 0;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.panel {
    padding: 0;
    background-color: white;
    padding-left: 2%;
    max-height: 0;
    overflow: hidden;
    margin-top: -6px;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 90%;
    box-shadow: #190e0c;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 2px 2px;
}
.accordion .titleObra{
    font-family: 'Impact, fantasy';
    font-weight: bold;
    padding: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: xx-large;  
}
.accordion .dataObra{
    font-family: 'monospace';
    padding-left: 2%;
    padding-bottom: 1%;
    font-size: medium;  
}
.accordion .precoObra{
    font-family: 'monospace';
    padding-left: 2%;
    padding-bottom: 1%;
    font-size: small;  
}
.accordion .porcObraN{
    font-family: 'Chalkduster', fantasy;
    padding-left: 2%;
    padding-bottom: 2%;
    font-size: large;
}
.panel .codigo{
    margin-top: 10px;
    padding-top: 5px;
    font-size: medium;
    text-align: left;
}
.panel .descricaoEtapa{
    font-family: 'Impact, fantasy';
    padding: 2%;
    font-size: large;
}
.panel .infoEtapa{
    font-family: 'monospace';
    color:darkslategray;
    margin-top: -10px;
    padding: 2%;
    font-size: medium;
}
.sObra{
    width: 70%;
    height: auto;
    background-color: #e0e8e1;
    border-radius: 3px;
    padding: 1rem;
    text-align: center;
    color: #000;
    display: none;
    position: absolute; 
    left: 50%;
    top: 75%;
    transform: translate(-50%,-50%);
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.sObra .tr{
    position: relative;
    width: 0; 
    height: 0; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #8a0899;
}
.invisible{
    width: 100%;
    height: 100px;
    opacity: 0;
    margin: 5px;
}
.ahoy{
    margin-left: 3px;
    margin-right: 3px;
    font-size: large;
    font-family: "Times New Roman", Helvetica, sans-serif;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.divButton{
    text-align: center;
    font-size: medium;
    padding-top: 0.75em;    
    padding-bottom: 0.75em;
    margin: 1em;
    border-radius: 4px;
    background-color: #2fdc3b;
    color: #fff;
}