.img{
    max-width: 50px;
    max-height: 50px;
    min-width: 10px;
    min-height: 10px;
    position: fixed;
    bottom: 0;
    background-color: #070708;
    margin: 5px;
}
.oc{
    background-color: #070708;
    width: 100%;
    height: 65px;
    position: fixed;
    bottom: 0;
}